
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <li>Personal Info</li>
                <li>Introduction</li>
                <li>Photos</li>
                <li>Location</li>
                <li>Hobbies</li>
                <li>Education</li>
                <li>Work Experience</li>
                <li>Achievements</li>
            </ul>
        </div>
        <div class="col-md-8">
            Right
        </div>
    </div>
</div>