<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container">
    <div class="navbar-header">

        <a class="navbar-brand" href="#">Intro.Me</a>
    </div>
</div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <a href="#" class="list-group-item active">
                  <span class="glyphicon glyphicon-user"></span>
                  Personal Info
                </a>
                <a href="#" class="list-group-item">
                  <span class="glyphicon glyphicon-info-sign"></span>
                  Introduction
                </a>
                <a href="#" class="list-group-item">
                  <span class="glyphicon glyphicon-camera"></span>
                  Photos
                </a>
                <a href="#" class="list-group-item">
                  <span class="glyphicon glyphicon-globe"></span>
                  Location
                </a>
                <a href="#" class="list-group-item">
                  <span class="glyphicon glyphicon-star-empty"></span>
                  Hobbies
                </a>
                <a href="#" class="list-group-item">
                  <span class="glyphicon glyphicon-education"></span>
                  Education
                </a>
                <a href="#" class="list-group-item">
                  <span class="glyphicon glyphicon-briefcase"></span>
                  Work Experience
                </a>
                <a href="#" class="list-group-item">
                  <span class="glyphicon glyphicon-flag"></span>
                  Achievements
                </a>
            </ul>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4">
               <a href="#" class="thumbnail">
                 <img src="" alt="125x125">
               </a>
            </div>
            <div class="col-md-8">
              <div class="row">
                <label class="col-md-4">Name</label>
                <div class="col-md-8">
                  <h5>Prabhat Thapa</h5>
                </div>
              </div>
              <div class="row">
                <label class="col-md-4">Email</label>
                <div class="col-md-8">
                  <h5>prabhat4ever@gmail.com</h5>
                </div>
              </div>
              <div class="row">
                <label class="col-md-4">DOB</label>
                <div class="col-md-8">
                  <h5>6 Dec 1986</h5>
                </div>
              </div>
              <div class="row">
                <label class="col-md-4">Location</label>
                <div class="col-md-8">
                  <h5>India</h5>
                </div>
              </div>
              <div class="row">
                <label class="col-md-4">Hometown</label>
                <div class="col-md-8">
                  <h5>Dehradun</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <p class="text-muted">Copy Rights Reserved By Intro.Me.</p>
    </div>
</footer>
