<div class="row" ng-repeat="achievement in achievements">
    <div class="col-md-11">
        <p class="lead text-center bg-info btn text-info center-block">{{achievement.year}}<span class="badge pull-right progress-bar-success">{{achievement.achievementsDesc.length}}</span></p>

        <div class="row achievements">
            <div class="col-md-4 text-center achievementsTile"
                 ng-repeat="achievementDesc in achievement.achievementsDesc">
                <div class="bg-success achievementsContents">
                    <h3 class="text-warning ">{{achievementDesc.achievementName}}</h3>

                    <p class="text-primary">{{achievementDesc.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

