 <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" ng-click="tabview=false">Educatinal Details</a></li>
    <li><a data-toggle="tab" ng-click="tabview=true">Other Qualifications/Certifications/Trainings</a></li>
    
  </ul>


<div class="tb-content">
<div id="home" ng-show="!tabview" >
      
<h3>Educational Details</h3>
<div class="panel col-md-12 panel-default blocks ">
  <span class="pull-right editHobby">
  <a data-toggle="modal" ><span class="glyphicon glyphicon-pencil editHobby" ng-click="showEdit()"></span></a>
  </span>
  <form class="form-horizontal" role="form" ng-submit="savePersonInfo(personInfo)">
  <h4>Matriculation:</h4>

  <div class="panel col-md-12 panel-default blocks ">
           
        <!--  <div class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a> 
            <i class="fa fa-coffee"></i>
            This is an <strong>.alert</strong>. Use this to show important messages to the user.
         </div> -->
      
        
          <div ng-show="hideShow">
            <div class="form-group" >
              <label class="col-lg-3 control-label">School name:</label>
              <div class="col-lg-8">
                <label class="lable pad-up" >{{personInfo.fName}}</label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Board name:</label>
              <div class="col-lg-8">
                <label class="lable pad-up" >{{personInfo.lName}}</label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Subjects:</label>
              <div class="col-md-8">
                <label class="lable pad-up">{{personInfo.contactNo}}</label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Percentage/CGPA:</label>
              <div class="col-lg-8">
                <label class="lable pad-up" >{{personInfo.email}}</label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Year of passing:</label>
              <div class="col-lg-8">
                <label class="lable pad-up" >{{ personInfo.mDate | date : 'MMMM-yyyy'}} </label>
              </div>
            </div>
          </div>
          <!-- Edit Form -->
          <div ng-show="editShow">
            <div class="form-group">
              <label class="col-lg-3 control-label">School name:</label>
              <div class="col-lg-8">
                 <input class="form-control" ng-model="personInfo.fName" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Board name:</label>
              <div class="col-lg-8">
                <input class="form-control" ng-model="personInfo.lName" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Subjects:</label>
              <div class="col-lg-8">
                <input class="form-control" ng-model="personInfo.company" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Percentage/CGPA:</label>
              <div class="col-lg-8">
                <input class="form-control" ng-model="personInfo.email"  type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Year of passing:</label>
              <!-- Date Picker -->
              <div class="form-group col-md-8" style="margin-left: 0px;">
              
                <p class="input-group">
                  <input type="text" class="form-control" datetime="MMMM-yyyy" datepicker-popup="MMMM-yyyy" ng-model="personInfo.mDate" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" datepicker-mode="'year'" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ></input>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>

              </div>
            </div>
          </div>           
        
  </div>




  <h4>Intermediat:</h4>
  <div class="panel col-md-12 panel-default blocks ">
           
        <!--  <div class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a> 
            <i class="fa fa-coffee"></i>
            This is an <strong>.alert</strong>. Use this to show important messages to the user.
         </div> -->
          <div ng-show="hideShow">
            <div class="form-group" >
              <label class="col-lg-3 control-label">School name:</label>
              <div class="col-lg-8">
                <label class="lable pad-up" >{{personInfo.fName}}</label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Board name:</label>
              <div class="col-lg-8">
                <label class="lable pad-up" >{{personInfo.lName}}</label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Stream:</label>
              <div class="col-md-8">
                <label class="lable pad-up">{{personInfo.contactNo}}</label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Subjects:</label>
              <div class="col-md-8">
                <label class="lable pad-up">{{personInfo.contactNo}}</label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Percentage/CGPA:</label>
              <div class="col-lg-8">
                <label class="lable pad-up" >{{personInfo.email}}</label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Year of passing:</label>
              <div class="col-lg-8">
                <label class="lable pad-up" >{{personInfo.iDate | date : 'MMMM-yyyy'}}</label>
              </div>
            </div>
          </div>
          <!-- Edit Form -->
          <div ng-show="editShow">
            <div class="form-group">
              <label class="col-lg-3 control-label">School name:</label>
              <div class="col-lg-8">
                 <input class="form-control" ng-model="personInfo.fName" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Board name:</label>
              <div class="col-lg-8">
                <input class="form-control" ng-model="personInfo.lName" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Stream:</label>
              <div class="col-lg-8">
                <input class="form-control" ng-model="personInfo.company" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Subjects:</label>
              <div class="col-lg-8">
                <input class="form-control" ng-model="personInfo.company" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Percentage/CGPA:</label>
              <div class="col-lg-8">
                <input class="form-control" ng-model="personInfo.email"  type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Year of passing:</label>
              <!-- Date Picker -->
              <div class="form-group col-md-8" style="margin-left: 0px;">
                <p class="input-group">
                  <input type="text" class="form-control" datepicker-popup="MMMM-yyyy" ng-model="personInfo.iDate" is-open="opened1" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" datepicker-mode="'year'" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </div>
            </div>
          </div>           
        
  </div>
  <h4>Graduation:</h4>
  <div class="panel col-md-12 panel-default blocks ">
           
        <!--  <div class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a> 
            <i class="fa fa-coffee"></i>
            This is an <strong>.alert</strong>. Use this to show important messages to the user.
         </div> -->
          <div ng-show="hideShow">
            <div class="form-group" >
              <label class="col-lg-3 control-label">School name:</label>
              <div class="col-lg-8">
                <label class="lable pad-up" >{{personInfo.fName}}</label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Board name:</label>
              <div class="col-lg-8">
                <label class="lable pad-up" >{{personInfo.lName}}</label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Stream:</label>
              <div class="col-md-8">
                <label class="lable pad-up">{{personInfo.contactNo}}</label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Subjects:</label>
              <div class="col-md-8">
                <label class="lable pad-up">{{personInfo.contactNo}}</label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Percentage/CGPA:</label>
              <div class="col-lg-8">
                <label class="lable pad-up" >{{personInfo.email}}</label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Year of passing:</label>
              <div class="col-lg-8">
                <label class="lable pad-up" >{{personInfo.gDate | date : 'MMMM-yyyy'}}</label>
              </div>
            </div>
          </div>
          <!-- Edit Form -->
          <div ng-show="editShow">
            <div class="form-group">
              <label class="col-lg-3 control-label">School name:</label>
              <div class="col-lg-8">
                 <input class="form-control" ng-model="personInfo.fName" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Board name:</label>
              <div class="col-lg-8">
                <input class="form-control" ng-model="personInfo.lName" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Stream:</label>
              <div class="col-lg-8">
                <input class="form-control" ng-model="personInfo.company" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Subjects:</label>
              <div class="col-lg-8">
                <input class="form-control" ng-model="personInfo.company" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Percentage/CGPA:</label>
              <div class="col-lg-8">
                <input class="form-control" ng-model="personInfo.email"  type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Year of passing:</label>
              <!-- Date Picker -->
              <div class="form-group col-md-8" style="margin-left: 0px;">
                <p class="input-group">
                  <input type="text" class="form-control" datepicker-popup="MMMM-yyyy" ng-model="personInfo.gDate" is-open="opened2" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" datepicker-mode="'year'" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </div>
            </div>
          </div>           
        
  </div>
  <h4>Post Graduate:</h4>
 <div class="panel col-md-12 panel-default blocks ">
           
        <!--  <div class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a> 
            <i class="fa fa-coffee"></i>
            This is an <strong>.alert</strong>. Use this to show important messages to the user.
         </div> -->
          <div ng-show="hideShow">
            <div class="form-group" >
              <label class="col-lg-3 control-label">School name:</label>
              <div class="col-lg-8">
                <label class="lable pad-up" >{{personInfo.fName}}</label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Board name:</label>
              <div class="col-lg-8">
                <label class="lable pad-up" >{{personInfo.lName}}</label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Stream:</label>
              <div class="col-md-8">
                <label class="lable pad-up">{{personInfo.contactNo}}</label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Subjects:</label>
              <div class="col-md-8">
                <label class="lable pad-up">{{personInfo.contactNo}}</label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Percentage/CGPA:</label>
              <div class="col-lg-8">
                <label class="lable pad-up" >{{personInfo.email}}</label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Year of passing:</label>
              <div class="col-lg-8">
                <label class="lable pad-up" >{{personInfo.pDate | date : 'MMMM-yyyy'}}</label>
              </div>
            </div>
          </div>
          <!-- Edit Form -->
          <div ng-show="editShow">
            <div class="form-group">
              <label class="col-lg-3 control-label">School name:</label>
              <div class="col-lg-8">
                 <input class="form-control" ng-model="personInfo.fName" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Board name:</label>
              <div class="col-lg-8">
                <input class="form-control" ng-model="personInfo.lName" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Stream:</label>
              <div class="col-lg-8">
                <input class="form-control" ng-model="personInfo.company" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Subjects:</label>
              <div class="col-lg-8">
                <input class="form-control" ng-model="personInfo.company" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Percentage/CGPA:</label>
              <div class="col-lg-8">
                <input class="form-control" ng-model="personInfo.email"  type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Year of passing:</label>
              <!-- Date Picker -->
              <div class="form-group col-md-8" style="margin-left: 0px;">
                <p class="input-group">
                  <input type="text" class="form-control" datepicker-popup="MMMM-yyyy" ng-model="personInfo.pDate" is-open="opened3" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" datepicker-mode="'year'" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open3($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </div>
            </div>
          </div>           
        
  </div>  <!-- Submit Button -->
  <div class="form-group " ng-show="editShow">
    <label class="col-md-3 control-label"></label>
    <div class="col-md-8">
      <input type="submit" class="btn btn-primary" value="Save Changes">
      <input type="reset" class="btn btn-default" ng-click="hideEdit()" value="Cancel">
    </div>
  </div>
  </form>
</div>


</div>
<div id="home" ng-show="tabview" >
    <h3 >Error:</h3>
    <div class="progress ">
      <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:50%">
       50%
      </div>
    </div>
    <p>Work In progress</p>
    <br>

</div>
</div>



