<div class="row" style="padding-bottom: 20px">
    <form role="form" class="form-inline" ng-submit="addHobby()">
        <div class="row">

            <div class="input-group col-md-4 col-md-offset-1">
                <input type="text" class="form-control col-md-12" autofocus ng-model="newHobby" placeholder="Hobby Name"
                       required>
            </div>

            <div class="input-group col-md-4">
                <input type="text" class="form-control" ng-model="newDesc" placeholder="Description" required>
            </div>

            <button type="submit" class="btn  btn-warning"><span class="glyphicon glyphicon-plus">Add</span></button>

        </div>
    </form>
</div>

<div class=" col-md-12">
    <div class="row">
        <div class="col-md-4 thumbnail hobbyTile" ng-model="hobby" ng-repeat="hobby in hobbies">
            <h1 class="hobbies"> {{hobby.name}}</h1>
            <p class="hobbies"> {{hobby.desc}}</p>
            <span class="pull-right editHobby">
                <a data-toggle="modal" data-target="#editHobby"><span
                        class="glyphicon glyphicon-pencil editHobby"></span></a>
                <a ng-click="removeHobby($index)"><span class="glyphicon glyphicon-trash editHobby"></span></a>
            </span>
        </div>
    </div>
</div>

<div class="modal fade" id="editHobby">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Please fill the form</h4>
            </div>
            <div class="modal-body">
                <form role="form" class="form-inline" ng-submit="addHobby(index)">
                    <div class="row">

                        <div class="input-group col-md-4 col-md-offset-1">
                            <input type="text" class="form-control col-md-12" autofocus ng-model="newHobby" placeholder="Hobby Name"
                                   required>
                        </div>

                        <div class="input-group col-md-4">
                            <input type="text" class="form-control" ng-model="newDesc" placeholder="Description" required>
                        </div>

                        <button type="submit" class="btn  btn-warning" ><span class="glyphicon glyphicon-plus">Add</span></button>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

