<div class="row">
  <!--
                      <div class="panel panel-default  bg1">
                          <h1>Welcome Kiran </h1>
                          <button type="button" class="btn-primary btn-lg">Complete profile</button>
                      </div>-->


  <div class="row">
    <div class="col-md-4">
      <a href="#" class="thumbnail">
        <img src="../images/yeoman.png" alt="125x125">
      </a>
    </div>
    <div class="col-md-8">
      <div class="row">
        <label class="col-md-4">Name</label>
        <div class="col-md-8">
          <h5>Prabhat Thapa</h5>
        </div>
      </div>
      <div class="row">
        <label class="col-md-4">Email</label>
        <div class="col-md-8">
          <h5>prabhat4ever@gmail.com</h5>
        </div>
      </div>
      <div class="row">
        <label class="col-md-4">DOB</label>
        <div class="col-md-8">
          <h5>6 Dec 1986</h5>
        </div>
      </div>
      <div class="row">
        <label class="col-md-4">Location</label>
        <div class="col-md-8">
          <h5>India</h5>
        </div>
      </div>
      <div class="row">
        <label class="col-md-4">Hometown</label>
        <div class="col-md-8">
          <h5>Dehradun</h5>
        </div>
      </div>
    </div>
  </div>


</div>
