<div class="container">
   <div class="row">
      <!-- left column -->
      <div class="col-md-3">
         <div class="text-center">
          <!-- <img src="images/yeoman.png" class="avatar " alt="avatar"> -->
          <img src="images/awtar.jpg" class="img-rounded" alt="avatar" width="250" height="236">
          <h6 ng-show="editShow">Upload a different photo...</h6>
          <input type="file" ng-show="editShow" class="form-control">
         </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
      <span class="pull-right editHobby">
         <a data-toggle="modal" ><span class="glyphicon glyphicon-pencil editHobby" ng-click="showEdit(data)"></span></a>
      </span>
        <!--  <div class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a> 
            <i class="fa fa-coffee"></i>
            This is an <strong>.alert</strong>. Use this to show important messages to the user.
         </div> -->
         <h3>Personal info</h3>
         <form class="form-horizontal" role="form" ng-submit="savePersonInfo(personInfo)">
            <div class="form-group">
               <label class="col-lg-3 control-label">First name:</label>
               <div class="col-lg-8">
                 <input class="form-control" ng-model="personInfo.fName" ng-show="editShow" type="text">
                 <label class="lable pad-up" ng-show="hideShow">{{personInfo.fName}}</label>
               </div>
            </div>
            <div class="form-group">
               <label class="col-lg-3 control-label">Last name:</label>
               <div class="col-lg-8">
                 <input class="form-control" ng-model="personInfo.lName" ng-show="editShow" type="text">
                 <label class="lable pad-up" ng-show="hideShow">{{personInfo.lName}}</label>
               </div>
            </div>
            <div class="form-group">
               <label class="col-lg-3 control-label">Company:</label>
               <div class="col-lg-8">
                 <input class="form-control" ng-model="personInfo.company" ng-show="editShow" type="text">
                 <label class="lable pad-up" ng-show="hideShow">{{personInfo.company}}</label>
               </div>
            </div>
            <div class="form-group">
               <label class="col-lg-3 control-label">Email:</label>
               <div class="col-lg-8">
                  <input class="form-control" ng-model="personInfo.email" ng-show="editShow" type="text">
                  <label class="lable pad-up" ng-show="hideShow">{{personInfo.email}}</label>
               </div>
            </div>
            <div class="form-group">
               <label class="col-md-3 control-label">Contact no:</label>
               <div class="col-md-8">
                 <input class="form-control " ng-model="personInfo.contactNo" ng-show="editShow" type="text" value="{{personInfo.contactNo}}">
                 <label class="lable pad-up" ng-show="hideShow">{{personInfo.contactNo}}</label>
               </div>
            </div>
            <div class="form-group">
               <label class="col-md-3 control-label">Location:</label>
               <div class="col-md-8">
                  <input class="form-control " ng-model="personInfo.location" ng-show="editShow" type="text">
                  <label class="lable pad-up" ng-show="hideShow">{{personInfo.location}}</label>
               </div>
            </div>
            <div class="form-group">
               <label class="col-md-3 control-label">Hometown:</label>
               <div class="col-md-8">
                 <input class="form-control " ng-model="personInfo.homeTown" ng-show="editShow" type="text">
                 <label class="lable pad-up" ng-show="hideShow">{{personInfo.homeTown}}</label>
               </div>
            </div>
            <div class="form-group " ng-show="editShow">
               <label class="col-md-3 control-label"></label>
               <div class="col-md-8">
                 <input type="submit" class="btn btn-primary" value="Save Changes">
                 <span></span>
                 <input type="reset" class="btn btn-default" ng-click="hideEdit()" value="Cancel">
               </div>
            </div>
        </form>
      </div>
  </div>
</div>
<hr>

<!--
                      <div class="panel panel-default  bg1">
                          <h1>Welcome Kiran </h1>
                          <button type="button" class="btn-primary btn-lg">Complete profile</button>
                      </div>-->
<!--  
<div class="row">
 <div class="row">
    <div class="col-md-4">
      <a href="#" class="thumbnail">
        <img src="../images/yeoman.png" alt="125x125">
      </a>
    </div>
    <div class="col-md-8">
      <div class="row">
        <label class="col-md-4">Name</label>
        <div class="col-md-8">
          <h5>Prabhat Thapa</h5>
        </div>
      </div>
      <div class="row">
        <label class="col-md-4">Email</label>
        <div class="col-md-8">
          <h5>prabhat4ever@gmail.com</h5>
        </div>
      </div>
      <div class="row">
        <label class="col-md-4">DOB</label>
        <div class="col-md-8">
          <h5>6 Dec 1986</h5>
        </div>
      </div>
      <div class="row">
        <label class="col-md-4">Location</label>
        <div class="col-md-8">
          <h5>India</h5>
        </div>
      </div>
      <div class="row">
        <label class="col-md-4">Hometown</label>
        <div class="col-md-8">
          <h5>Dehradun</h5>
        </div>
      </div>
    </div>
  </div> 


</div>-->
